<configuration>

    <property name="LOG_DIR" value="logs"/>
    <property name="MODULE" value="${MODULE:-app}"/>
    <property name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}"/>

    <property name="PATTERN"
              value="%d{HH:mm:ss} %-7level %-24.24logger{0} %.-24(%replace(%caller{1}){'^.*? ([^ ]+)$','$1'}) %.133msg%n"/>

    <appender name="ALL_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/javer-all.log</file>
        <append>false</append>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="MODULE_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/javer-${MODULE}.log</file>
        <append>false</append>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="GUI" class="ch.zhaw.it.pm4.javer.application.GuiLogAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="ALL_FILE"/>
        <appender-ref ref="MODULE_FILE"/>
        <appender-ref ref="GUI"/>
    </root>

</configuration>